$main-white-color: #FFFFFF;
$brand-color: #12F7D6;
$brand-color-second: #98FAEC;

$biggestText: 114px;
$H1-U: 72px;
$H2-U: 36px;
$Article-U: 32px;
$Para-U: 18px;

$color-bg: #292F36;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;
$wideBreakpoint: 1920px;
